body{
    text-align: center;
    background-color:#633013 ;
}

h1{
   color: white;
   font-size: 60px;
   font-family: monospace;
}

h3{
    font-size :50px;
    color: white;
}

label{
    color: whitesmoke;
    font-size: 30px;
    font-family:fantasy ;
     width:  250px;
    height:  30px;
}

input{
    margin: inherit;
    border-style: initial;
    width:  250px;
    height:  30px;
    text-align: justify-all;
}
